@model QuocThangShopOnline.Admin.Models.CategoryViewModel
@using (Html.BeginForm("Edit", "Category", FormMethod.Post))
{
    <span>Id:</span> @Html.TextBoxFor(m => m.Id)<br />
    <span>Name:</span> @Html.TextBoxFor(m => m.Name)<br />
    <span>ParentId</span> @Html.TextBoxFor(m => m.ParentId)<br />
    <input id = "Submit" type = "submit" value = "submit" />
}
